[submodule "typst-arknights-simulator"]
	path = typst-template
	url = https://github.com/drunkenQCat/typst-arknights-simulator.git
[submodule "libs/MiniMax"]
	path = libs/MiniMax
	url = https://github.com/drunkenQCat/MiniMax.Net.git
[submodule "ArkPlot.Adapters"]
	path = ArkPlot.Adapters
	url = https://github.com/drunkenQCat/ArkPlot.Adapters.git
